<form [formGroup]='chartForm' (ngSubmit)="onChartFormSubmit()">
    <div>
        <div style="width: 50%;"><h4> Select monthly revenue</h4></div>
        <div style="width: 50%;"><h4>Select color</h4></div>
    </div>

    <div>
        <div style="width: 50%;">
            <label for="january">January</label><br>
            <input type="number" min="0" id="january" name="january" formControlName="january">
        </div>
        <div style="width: 50%;">
            <label for="januaryColor">Color</label><br>
            <select id="januaryColor" formControlName="januaryColor">
                <option value="red">Red</option>
                <option value="purple">Purple</option>
                <option value="blue">Blue</option>
                <option value="orange">Orange</option>
                <option value="green">Green</option>
                <option value="yellow">Yellow</option>
                <option value="grey">Grey</option>
            </select>
        </div>
    </div>

    <div>
        <div style="width: 50%;">
            <label for="february">February</label><br>
            <input type="number" min="0" id="february" name="february" formControlName="february">
        </div>
        <div style="width: 50%;">
            <label for="februaryColor">Color</label><br>
            <select id="februaryColor" formControlName="februaryColor">
                <option value="red">Red</option>
                <option value="purple">Purple</option>
                <option value="blue">Blue</option>
                <option value="orange">Orange</option>
                <option value="green">Green</option>
                <option value="yellow">Yellow</option>
                <option value="grey">Grey</option>
            </select>
        </div>
    </div>

    <div>
        <div style="width: 50%;">
            <label for="march">March</label><br>
            <input type="number"  min="0" id="march" name="march" formControlName="march">
        </div>

        <div style="width: 50%;">
            <label for="marchColor">Color</label><br>

            <select id="marchColor" formControlName="marchColor">
                <option value="red">Red</option>
                <option value="purple">Purple</option>
                <option value="blue">Blue</option>
                <option value="orange">Orange</option>
                <option value="green">Green</option>
                <option value="yellow">Yellow</option>
                <option value="grey">Grey</option>
            </select>
        </div>
    </div>

    <h4>Graph Type</h4>
      <input type="radio" id="pie" name="graphType" value="pie" formControlName="graphType">
      <label for="pie">Pie</label><br>
      <input type="radio" id="bar" name="graphType" value="bar" formControlName="graphType">
      <label for="bar">Bar</label><br>
      <input type="radio" id="line" name="graphType" value="line" formControlName="graphType">
      <label for="line">Line</label>


    <!-- <button>Submit</button> -->
</form>



<div id="container"></div>